@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

// fonts
$lato: "Lato", sans-serif;
$roboto: "Roboto", sans-serif;
$regular: 400;
$semi-bold: 600;
$bold: 700;

// sizes
$small: 12px;
$main: 16px;
$medium: 18px;
$large: 22px;

// colors
$ligth-dark: #231815;
$dark: #000000;
$white: #ffffff;
$orange: #e45302;
$gray: #808080;
$ligth-gray: #f5f5f5;
$footer-back: #0c0c0c;
$background: #272727;
